
<h1>Benvenuto!</h1>

<div class="row">
	<div class="col-3">Scegli la tua prossima azione.. <br> <%= image_tag 'arrow.png', width: '160px', align: 'right' %></div>
	<div class="col">
		<br><br><br>
		<%= link_to "Gestione Hotel (#{Hotel.count.to_s})", hotels_path, class: 'btn btn-info' %> <br><br>
		<%= link_to "Gestione Utenti (#{User.count.to_s})", users_path, class: 'btn btn-info' %>
	</div>
</div>
